.animalPage{
    margin-top: 30px;
}
.link{
    text-align: left;
    margin-bottom: 15px;
}
.menuLink{
    font-size: 18px;
    color: #555;
    letter-spacing: 0;
}
.animalInfo{
    display: flex;

}
.imgContainer{
    width: 640px;
    height: 480px;
    padding: 10px;
    box-shadow: 0 0 9px rgba(0,0,0,.08);
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContainer img{
    max-width: 100%;
    max-height: 100%;
}
.animal-information{
    box-shadow: 0 0 9px rgba(0,0,0,.08);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 350px;
    height: 380px;
    text-align: left;
    padding: 20px 0 0 20px;
    margin-left: 10px;
}
.animal-name{
    font-size: 20px;
    color: #467326;
    font-weight: bold;
    margin-bottom: 20px;
}
.animal-stat{
    display: flex;
    font-size: 17px;
    color: #555;
    margin-bottom: 10px;
}
.stats-label{
    width: 165px;
    font-weight: 700;
}
.contact-info{
    box-shadow: 0 0 9px rgba(0,0,0,.08);
    height: 380px;
    width: 400px;
    margin-left: 10px;
    color: #555555;
}
.contact-heading{
    font-size: 18px;
    margin-top: 18px;
}
.contact-text{
    text-align: left;
    font-size: 16px;
    margin: 10px 20px 0 20px;
    line-height: 22px;
}
.animal-description{
    box-shadow: 0 0 9px rgba(0,0,0,.08);
    text-align: left;
    color: #555555;
    padding: 20px;
    margin-top: 10px;
}
.animal-description h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.animal-description p{
    font-size: 16px;
    line-height: 22px;
}