.card{
    max-width: 285px;
    max-height: 450px;
    overflow: hidden;
    font-size: 24px;
    color: #555555;
    box-shadow: 0 0 9px rgba(0,0,0,.08);
}
.animal{
    max-width: 100%;
    margin-bottom: 20px;
}
.text-wrapper{
    margin-right: 20px;
    margin-left: 20px;
}
.animal-name{
    margin-bottom: 20px;
}
.animal-text{
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
    max-height: 50px;
}
.animal-data{
    text-align: left;
    font-size: 21px;
    font-weight: 900;
}